---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout title="Contact | Zentio" lang="en">
  <h1>Commercial contact</h1>
  <p>Request a specialist contact or chat with us on WhatsApp.</p>

  <p><b>Email:</b> contato@zentio.com.br</p>
  <p><b>WhatsApp:</b> <a href="https://wa.me/5511940875900">+55 (11) 94087-5900</a></p>
</SiteLayout>
