---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<SiteLayout title={`${post.data.title} | Zentio`} lang="pt">
  <h1>{post.data.title}</h1>
  <p style="color: var(--muted)">{post.data.pubDate.toDateString()}</p>
  <article>
    <Content />
  </article>
</SiteLayout>