---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Como funciona | Zentio" lang="pt">
  <h1>Como funciona</h1>
  <p>Um processo comercial simples e objetivo para implementar automações com segurança.</p>

  <ol>
    <li><b>Contato comercial:</b> entendemos seu cenário e objetivo</li>
    <li><b>Blueprint:</b> desenho do fluxo e integrações</li>
    <li><b>Implementação:</b> ciclos curtos com validação</li>
    <li><b>Evolução:</b> melhoria contínua e novas rotinas</li>
  </ol>
</SiteLayout>
